<section class="about-us">
  <div class="col-lg-6 col-sm-12 about-us__info">
    <article class="about-us__text">
      <p> За допомогою нашого порталу ти можеш швидко
        пройти тестування та дiзнатися свій рівень в окремих роздiлах</p>
      <p>Завдяки рейтинговій системи тебе можуть помітити рекрутери та запросити на співбесіду</p>
      <p>Поспішай!</p>
      <p> Cпробуй свої сили!</p>
    </article>
  </div>
  <div class="col-lg-6 col-md-6 about-us__logo">
    <img src="assets/img/logo3.png" alt="logo" class="about-us__img">
<!--    <img src="https://static.thenounproject.com/png/755307-200.png" alt="logo" class="about-us__img">-->
    <h1 class="about-us__title">
      Respons<span>e</span>
    </h1>
  </div>
</section>
