<app-start></app-start>
<app-light></app-light>
<!--<app-menu></app-menu>-->
<!--<app-about-us></app-about-us>-->
<!--<app-topics></app-topics>-->
<!--<app-test-list></app-test-list>-->
<!--<app-test></app-test>-->
<!--<app-test-result></app-test-result>-->
<!--<app-profile></app-profile>-->
<!--<app-results></app-results>-->
<!--<app-assessment></app-assessment>-->
<!--<app-test-create></app-test-create>-->
